<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create</title>
</head>
<body>
    <div class="heading"><h2> Create your Content</h2></div>
     <form class="new_form" method="post" action="/Home">
       <div class="new_input">
       <label>
         YOUR NAME:<br/><br/>
         <input  calss="text"placeholder="Enter your name" name="name"/>
       </label>
       </div>
        <br>
        <br>
        <div class="new_input">
            <label> YOUR CONTENT:<br/><br/>
                 <textarea class="text" placeholder="Write your content" name="content"></textarea>
            </label>
           
        </div>
        
        <button class="btn">Submit</button>
     </form>
</body>
</html>